@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.logo img {
    width: clamp(11vw, 150px, 18vw);
    padding-right: 2vw;
}

h1 {
    font-size: clamp(3vw, 40px, 4vw);
    font-weight: 400;
    color: gray;
}

.add_project, .add_dev{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-size: clamp(2vw, 10px, 2.2vw);
    padding: 8px 5px;
    align-self:flex-end;
    margin: 2vh 0;
}

.projects_list {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
   
    
}

th {
    font-weight: 400;
    background-color: gray;
    color: white;
    border: 1px solid black;
    padding: 10px;
    font-size: clamp(2vw, 10px, 2.1vw);
}

td {
    border: 1px solid black;
    font-weight: 400;
    font-size: clamp(2vw, 10px, 2.1vw);
    text-align: center;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
  }

.double a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: clamp(2vw, 20px, 2.2vw);
}

.project {
    padding: 0 4em ;
    width: min(900px, 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h2 {
    font-size: clamp(2vw, 150px, 4vw);
    font-weight: 400;
    
}

p {
    font-weight: 300;
    font-size: clamp(1vw, 90px, 2vw);
}

.add_project, .add_dev {
    display: flex;
    flex-direction: column;
}

.container_add_project, .container_add_dev {
    border: 1px solid black;
    width: min(90vw, 400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_add_project, .form_add_dev {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2vh 0;
    
}

.form_add_dev input, .form_add_dev select{
    margin: 8px 0;
}

button {
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: clamp(1.5vw, 20px, 1.8vw);
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: clamp(1.8vw, 20px, 2vw);
}

footer {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: 1px solid black;
    padding: 0.5em;
    margin-top: auto;
    width: 100%;
}

footer p {
    font-size: clamp(2vw, 10px, 2.2vw);
}